.currency-table{
  border-collapse: collapse;
}
.currency-table caption{
  border: 1px solid #000;
  border-bottom: none;
  padding: 5px 20px;
}
.currency-table td{
  border: 1px solid #000;
  padding: 2px 20px;
}


